<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<h1>Leagues</h1>
        <form action="/" method=POST>
            {% csrf_token %}
            <label for="league_filter">Filter:</label>
            <select name="league_filter">
                {% for key, filter in league_filters.items %}
                    <option value="{{key}}" {% if curr_league_filter == key %}selected{% endif %}>
                        {{filter.description}}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Update Filter">
        </form>
        <br>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams</h1>
        <form action="/" method=POST>
            {% csrf_token %}
            <label for="teams_filter">Filter:</label>
            <select name="teams_filter">
                {% for key, filter in team_filters.items %}
                    <option value="{{key}}" {% if curr_teams_filter == key %}selected{% endif %}>
                        {{filter.description}}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Update Filter">
        </form>
        <br>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Players</h1>
        <form action="/" method="POST">
            {% csrf_token %}
            <label for="players_filter">
            <select name="players_filter" id="players_filter">
                {% for key, filter in player_filters.items %}
                    <option value="{{key}}" {% if curr_players_filter == key %}selected{% endif %}>
                        {{filter.description}}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Update Filter">
        </form>
        <br>
		<ol>
			{% for player in players %}
            <li>{{player.first_name}} {{player.last_name}} {% if curr_players_filter == 'all_teams_count' %}(Played on {{player.teams_played_for}} teams) {% endif %}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
	</body>
</html>
